LLM_PROVIDER=google-genai
GOOGLE_API_KEY=
TAVILY_API_KEY=
COHERE_API_KEY=
VECTOR_STORE_TYPE=lancedb
LANGSMITH_TRACING=false
LANGSMITH_API_KEY=
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_PROJECT=vectora
LOG_LEVEL=INFO
